{% extends "index.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}


    <section class="content">

            <div class="row">
                <!-- left column -->

                <div class="col-md-6">

                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Caracteristicas del producto</h3>
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre</span>
                                </div>
                                <input type="text" class="form-control" value="{{ product.name }}" name="name" required>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" disabled="" value="{{ product.id }}" name="id"
                                       required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name='total_quantity'
                                       value="{{ product.quantity }}" id="quantity_available" step="1" min="1">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                <i class="fas fa-dollar-sign"></i>
                                </span>
                                </div>
                                <input type="text" class="form-control" name="cost_price" required=""
                                       placeholder="Precio compra" value="{{ product.cost_price }}" required>
                            </div>
                            <div class="form-group">
                                <label>Descripcion del producto</label>
                                <textarea class="form-control" style="resize:none" name='description' rows="3"
                                          style="height: 101px;">{{ product.description }}</textarea>

                            </div>
                            <div class="card-footer">

                                <button type="submit" onclick="addProduct()" class="btn btn-primary">Guardar</button>
                            </div>


                            <!-- /input-group -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- Horizontal Form -->

                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                    <!-- general form elements disabled -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Precios por mayoreo</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% for item in product.prices %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Precio {{ loop.index }}</label>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                    <i class="fas fa-dollar-sign"></i>
                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="price_{{ loop.index - 1}}"
                                                       value="{{ item.price }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Cantidad {{ loop.index }}</label>
                                            <input type="text" class="form-control" name="quantity_{{ loop.index - 1}}"
                                                   value="{{ item.quantity }}">

                                        </div>

                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <!-- /.card-body -->


                    </div>
                    <!-- /.card -->
                    <!-- general form elements disabled -->

                    <!-- /.card -->
                </div>
                <!--/.col (right) -->
            </div>

    </section>
{% endblock %}

{% block javascript %}
<script>
     const addProduct =  () => {

         let counter = 0;
         const jsonData = {};

         $(".card-body :input").each(function () {
            if (this.value != "" && this.name != ""){
                jsonData[this.name] = this.value;

            }});

            $.ajax({

            type:"post",
            dataType:"json",
            url: `/products/edit/${jsonData['id']}`,
            contentType: "application/json",
            data: JSON.stringify(jsonData),
            success: function(data) {

                location.replace("/products/show");
            },
            error: function(data) {
                successmessage = 'Error';
                $("label#successmessage").text(successmessage);
            },
        });

  };


</script>

{% endblock %}